<div class="row">
    <div class="container-fluid h-100">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title">Orders</h5>
            </div>

            <table class="table" id="orderTable">
                <thead>
                    <tr>
                        <th># Order ID</th>
                        <th>User Address</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                       
                        <th>Total Amount</th>
                        <th>paymentMethod</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((order) => { %>

                    <tr>
                        <td>#<%= order._id %></td>
                        <td><%= order.deliveryDetails[0].addresses %></td>
                        <td><%= order.user.name %></td>
                        <td><%= order.createdAt.toLocaleDateString() %></td>
                        
                        <td>$<%= order.totalAmount %></td>
                        <td>
                            <% if (order.paymentMethod === 'COD') { %>
                            <span class="text-success">COD</span>
                            <% } else { %>
                            <span class="text-success">ONLINE</span>
                            <% } %>
                        </td>
                       
                        <td>
                            <a href="/admin/product-details/<%= order._id %>" class="btn btn-primary">Details</a>
                        </td>
                    </tr>

                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
    // JQuery table
    $(document).ready(function () {
        $('#orderTable').DataTable();
    });


    function statusChange(orderId, value) {
        console.log(orderId),

            $.ajax({
                url: '/admin/statusChange/' + orderId,
                type: 'post',
                data: { status: value },
                success: (response) => {
                    alert(response)
                },
                // error: function (error) {
                //     alert('Error updating order Status');
                // }
            })
    }

</script>