<!-- Add responsive styles for the table -->
<style>
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto;
    }
}
</style>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Order Details</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Your Orders</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="card flex-fill">
        <!-- latest project -->
        <div class="card-header">
            <h5 class="card-title mb-0">Order status</h5>
        </div>
        <% if (orders.length<0) { %>
            <div class="alert alert-danger">
                <%= errorMessage %>
            </div>
            <div class="d-flex justify-content-center">
                <div class="mx-auto" style="width: 200px;">
                  <a href="/shop" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go to Shop</a>
                </div>
            </div>
        <% } else { %>
            <div class="table-responsive">
                <table class="table table-hover" id="orderStatusTable">                <thead>
                    <tr>
                        <th scope="col">Item</th>    
                        
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Order Status</th>     
                        <th scope="col">Action</th>
                    </tr>
                </thead>
    
                <% orders.forEach((order) => { %>
                    <% order.products.forEach((product) => { %>
    
                    <tbody>
                        <tr>
                            <td class="image-container">
                                <div class="d-flex flex-column align-items-center">
                                    <img src="/uploads/images/<%= product.image[0] %>" alt="Image" style="max-width: 100px; max-height: 100px;">
                                    <div class="mt-2">
                                        <%= product.slug %>
                                    </div>
                                </div>
                            </td>
                            
                            <td class="align-middle"><%= order.createdAt.toLocaleDateString() %></td>
                            <td class="align-middle"><%= order.deliveryDetails[0].addresses %></td>
                            <td class="align-middle"><%= order.deliveryDetails[0].pinCode %></td>
                            <td class="align-middle"><%= order.user.mobile %></td>
                            <td class="align-middle">$<%= order.totalAmount %>/Qty:<%= product.quantity %></td>
                            <td class="align-middle">
                                <% if (order.paymentMethod === 'COD') { %>
                                <span class="text-success">COD</span>
                                <% } else { %>
                                <span class="text-success">Online</span>
                                <% } %>
                            </td>
                            <td class="align-middle">
                                <% switch (product.orderStatus) {
                                    case 'cancel':
                                        %><span class="btn btn-danger"><%= product.orderStatus %></span><%
                                        break;
                                    case 'shipped':
                                        %><span class="btn btn-primary"><%= product.orderStatus %></span><%
                                        break;
                                    case 'deliver':
                                        %><span class="btn btn-success"><%= product.orderStatus %></span><%
                                        break;
                                    case 'processing':
                                        %><span class="btn btn-warning"><%= product.orderStatus %></span><%
                                        break;
                                    case 'order-placed':
                                        %><span class="btn btn-info"><%= product.orderStatus %></span><%
                                        break;
                                    case 'pending':
                                        %><span class="btn btn-secondary"><%= product.orderStatus %></span><%
                                        break;
                                    case 'returned':
                                        %><span class="btn btn-secondary"><%= product.orderStatus %></span><%
                                        break;
                                    case 'out-of-deliver':
                                        %><span class="btn btn-info"><%= product.orderStatus %></span><%
                                        break;
                                    case 'return':
                                        %><span class="btn btn-success"><%= 'Return Success' %></span><%
                                        break;
                                    default:
                                        %><span class="btn btn-secondary">Unknown</span><%
                                } %>
                            </td>
                            <td class="align-middle">
                                <a href='/product-status/<%= order._id %>/<%= product.slug %>'>
                                    <button type="button" class="btn btn-sm btn-primary">View details</button>
                                </a>
                            </td>
                           
                        </tr>
                    </tbody>
                    <% }) %>
    
                <% }) %>
    
            </table>
            </div>
        <% } %>
       
    </div>

</div>


<script>
    $(document).ready(function () {
        $('#orderStatusTable').DataTable({ responsive: true });
    });

    // Assuming you have jQuery included
    $(document).on('click', '.delete-btn', function (event) {
        event.preventDefault();

        const productId = $(this).data('product-id');

        // Display the confirmation dialog
        Swal.fire({
            title: 'Are you sure?',
            text: 'This action cannot be undone!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user confirms the deletion, redirect to the delete route
                window.location.href = `/admin/delete-product?${productId}`;
            }
        });
    });
</script>